[Unit]
Description= Monitoring and visualization stack
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/monitor
ExecStart=/usr/local/bin/docker-compose up -d
ExecSop=/usr/local/bin/docker-compose down

[Install]
WantedBy=default.target
